#nav{
    background-color: #f0f3ff; 
    display: flex;
    justify-content: space-around;
    padding: 15px;
    position: fixed;
    width: 100%; 
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
#banner{
    background-image: url(https://img.freepik.com/free-vector/shopping-time-banner-with-realistic-map-cart-gift-bags-vector-illustration_548887-120.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   height: 100vh;
   width: 100%;
}