#nav{
    background-color: rgb(136, 160, 180); 
    display: flex;
    justify-content: space-around;
    padding: 15px;
    position: fixed;
    width: 100%; 
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
#banner{
    background-image: url(https://t4.ftcdn.net/jpg/03/20/68/71/360_F_320687108_3UZ13l44Ob5cel208W7DaRnD5BR9DfY7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   height: 100vh;
   width: 100%;
}