#nav{
    background-color: rgb(136, 160, 180);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
form input {
    display: block;
    margin: 20px;
    padding: 10px 10px;
    width: 80%;
    border: 1px solid rgba(102, 99, 99, 0.699);
    background-color: white;
}
#form{
    border: 2px solid rgb(158, 157, 157);
    width: 100%; 
    padding: 30px 30px;
}
#form-box{
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
}
#submit{
    border: 0.5px solid rgb(134, 108, 108); 
    background-color: white;
    padding: 5px 5px;
    border-radius: 5px;
}