#nav{
    background-color: rgb(136, 160, 180);
    display: flex;
    justify-content: space-around;
    padding: 15px;
}
#nav a{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
}
form input {
    display: block;
    margin: 20px;
    padding: 10px 10px;
    width: 80%;
    border: 1px solid rgba(102, 99, 99, 0.699);
    background-color: white;
}
#form{
    border: 2px solid rgb(158, 157, 157);
    width: 100%; 
    padding: 30px 30px;
}
#form-box{
    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
    padding-top: 10%;
}
#submit{
    border: 0.5px solid rgb(122, 115, 115); 
    background-color: white;
    padding: 5px 5px;
    border-radius: 5px;
    width: 50%;
}
#htext{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: rgb(149, 152, 147);
    text-align: center;
}